<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banford's Law Test</title>
        {# Load the tag library #}
        {% load bootstrap4 %}
        {% load static %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
  <div class="row my-1 mx-1">
    <div class="col-2">
        {% include 'mainmenu.html' %}
    </div>
    <div class="col-10">
      {% block content %}
       Replace me
        {% endblock %}
    </div>
  </div>




</body>
</html>