<div class="list-group text-center mainmenu">
    <a href="/" class=" mt-1">
        <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">Homepage</button>
    </a>
<!--    <div class="btn-group dropright">-->
<!--        <button type="button" class="btn btn-dark dropdown-toggle mt-1" data-toggle="dropdown" aria-haspopup="true"-->
<!--                aria-expanded="false">-->
<!--            Products-->
<!--        </button>-->
<!--        <div class="dropdown-menu">-->
<!--            <a href="/products/" class=" mt-1">-->
<!--                <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">All</button>-->
<!--            </a>-->
<!--            <a href="/products/new" class=" mt-1">-->
<!--                <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">New</button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <a href="#" class=" mt-1">-->
<!--        <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">Customers</button>-->
<!--    </a>-->
<!--    <a href="#" class=" mt-1">-->
<!--        <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">Orders</button>-->
<!--    </a>-->
<!--    <a href="#" class=" mt-1">-->
<!--        <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">Weather</button>-->
<!--    </a>-->
<!--    <a href="#" class=" mt-1">-->
<!--        <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">Login</button>-->
<!--    </a>-->
    <a href="/about" class=" mt-1">
        <button type="button" class="btn btn-dark" aria-haspopup="true" aria-expanded="false">About</button>
    </a>
</div>